.videoFooter{
    position: relative;
    margin-left: 20px;
    bottom: 100;

}

.videoFooter_text{
    position: absolute;
    bottom: 0;
    display: flex;
    color: white    ;
    margin-bottom: 20px;

}
.videoFooter_text > h3{
    margin-left: 10px;
    padding-bottom: 20px;
}
.videoFooter_text >h3 > button{
    color: white;
    font-weight: 900;
    text-transform: inherit;

}
.videoFooter_ticker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoFooter_ticker > .ticker{
    width: 80%;
    height: fit-content;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: black;

}

.videoFooter_icon{
    position: relative;
    left: 5px;
    color: white;
}
.videoFooter_ticker > .ticker [title]{
    padding-top: 7px;
    font-size: 12px;
    color: white;
}