
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Oleo+Script&family=Oswald:wght@300&family=Roboto+Condensed&family=Space+Mono&family=Urbanist:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.app{
  margin: 0 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
     
.todo__header{
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}
.todo__todoForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5em;
  padding:20px ;
}
.todo__container{
  border: 5px solid var(--grey);
}