*{
  margin: 0;
}
.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo__continer{
  width: 90vw;
  height: 60vh;
  margin: 0 auto;
}

.todo__continer > h2{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: 800;
  font-size: 25px;
}
.todo__todoForm{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.todo__todoForm > input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  font-weight: 600;
}

.todo__todoForm > button{
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  background-color: #34bdeb;
  color: white;
  border: none;
  cursor: pointer;
}

.singletodo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  
}
.singletodo >p{
  flex: 3;
  font-weight: 400;
  font-size: 20px;
}
.icons{
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  color: #34bdeb !important;
}
.icons > DeleteIcon{
  margin-left: 10px !important;
}

